#H1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#Buttoncontainer {
    height: 55px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

#Starter {
    height: 50px;
    width: 150px;
    background-color: blue;
    color: rgb(255, 0, 0);
    font-size: 25px;
}

#Reseter {
    height: 50px;
    width: 150px;
    background-color: blue;
    color: rgb(255, 0, 0);
    font-size: 25px;
}

#Gamefield {
    height: 1000px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#Tower1 {
    position: absolute;
    margin-left: 50%;
    left: -50px;
    margin-top: 50%;
    top: -50px;
}

.full-circle {
    position: absolute;
    background-color: rgba(204, 0, 102, 0);
    border: 3px solid #333;
    height: 500px;
    width: 500px;
    border-radius: 250px;
    margin-left: 50%;
    left: -250px;
    margin-top: 50%;
    top: -250px;
}

#Gegner1 {
    position: absolute;
    margin-left: 50%;
    left: -25px;
    margin-top: 0px;
}